syntax: glob

# temp files
*.sh~
*.*~
.DS_Store

# Byte-compiled / optimized 
__pycache__/
*.pyc
*.pyo
*.cache/

# coverage files
.coverage
.coverage.*
htmlcov/

# google drive settings
*desktop.ini

# PyCharm settings
.idea/

# Microsoft installers
*.msi

# Windows executable
*.exe

# Mac OS X installers
*.dmg

# C extensions
*.so
*.pyd

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
_build/
docs/_build/*
*.html

# cython
*.pyxbldc

# notebooks checkpoint
examples/notebooks/.ipynb_checkpoints/
examples/.ipynb_checkpoints/

# Downloaded/Created data
data/download/
data/temp/
data/output/

hyo2/qc/survey/gridqa/grid_qa_calc_v4.cpp
hyo2/qc/survey/fliers/find_fliers_checks_v7.cpp
hyo2/qc/survey/fliers/find_fliers_checks_v8.cpp

# resources folder
resources/~$icons.pptx
hyo2/qc/survey/fliers/thresholds_funcs_v8.cpp
hyo2/qc/survey/anomaly/anomaly_detector_v1_checks.cpp
hyo2/qc/survey/anomaly/anomaly_detector_v1_proxies.cpp
